/* main */

:root{
    --red:#E50914;
    --black:#141414;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--black);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--red);
    font-size: 40px;
    margin-left: 5px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #FFF;
}

/*principal*/

.principal {
    font-size: 18px;
    background: linear-gradient(rgba(0,0,0,.70),rgba(0,0,0,.70)100%), url('/img/v9rY2Xu3B3NRN4xY9HZ75BhvVyl.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.principal .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 10px;
    font-size: 12px;
    cursor: pointer;
    transition: 4s, ease all;
}

.botao:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

.botao i {
    margin-right: 5px;
}